.img-bitcoin{
    margin-left: 100px;
}

.span-bitcoin{
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 20px;
}

.navbar{
    background: rgb(250, 167, 57);
}

.section-main{
    background: rgba(240, 219, 207, 0.26);
    text-align: center;
}

.espaco{
    height: 100px;
}

.container{
    min-width: 550px;
}

footer.bg-{
    background: orange;
}

